.message {
    margin-top: 10px;
    background-color: lightgrey;
}

.username {
    margin: 0px;
    text-align: left;
}

.content {
    margin: 0px;
}

.time {
    display: block;
    text-align: right;
}

.change-sentance {
    color: blue;
    margin: 0px 50px;
}

.remove-sentance {
    color: red;
    margin: 0px 50px;
}