.message {
    margin-top: 10px;
    background-color: lightgrey;
}

.username {
    margin: 0px;
    text-align: left;
}

.content {
    margin: 0px;
}

.time {
    display: block;
    text-align: right;
}